[submodule "BorealHDR"]
	path = BorealHDR
	url = git@github.com:norlab-ulaval/BorealHDR.git
	branch = differentiable
[submodule "DROID-SLAM"]
	path = DROID-SLAM
	url = git@github.com:ogamache/DROID-SLAM.git
	branch = train-ae
